<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .navbar {
        background-color: #00000033;
        border-radius: 4px;
        box-shadow: 0px 0px 15px rgba(26, 26, 37, 0.142); 
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand btn-link" href="#">Flypchajes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul  class="navbar-nav ml-auto">
            <li class="nav-item text-white">
                <!-- Agrega clases de Bootstrap para centrar el texto -->
                <h4 class="font-italic w-100">Bienvenido {{name}}, {{ current_date }}</h4>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item text-white">
                <a class="btn btn-info mr-2" (click)="userConfig()">Configuración</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-secondary" href="/" (click)="logout()">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</nav>