<style>
    .not-finished {
        background-color: #3dc2ff79;
        border-radius: 8px;
        padding-left:15px; 
        padding-right: 15px; 
    }
</style>

<div class="card-body" (click)="showModal()" [ngStyle]="{'cursor': isClickable ? 'pointer' : 'default'}" (mouseover)="isClickable = true"  (mouseout)="isClickable = false" tooltip="Modificar"  [delay]="500" placement="bottom">
   <div [ngClass]="{'not-finished': register.outputs[register.outputs.length - 1].output === '-'}" >
    <p class="card-text">Entrada: {{ register.inputs[0].input }}</p>
    <p class="card-text">Salida: {{ register.outputs[register.outputs.length-1].output }}</p>
   </div>
</div>