<style>
    .page-item {
        box-shadow: 5px 5px 20px #0d0e2383; 
    }
  </style>
  <nav class="mt-1" aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item ">
          <button class="page-link" (click)="button(current_page-1)" [disabled]="current_page === 1">Anterior</button>
        </li>
        <li class="page-item">
          <button class="page-link" (click)="button(current_page+1)" [disabled]="current_page === max_pages">Siguiente</button>
        </li>
      </ul>
  </nav>
