
<style>
  .page-item {
      box-shadow: 5px 5px 20px #0d0e2383; 
  }
</style>
<nav class="mt-1" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <button class="page-link" (click)="button(current-1)">Anterior</button>
      </li>
      <li class="page-item"><button class="page-link" (click)="button(current-1)">{{ current-1 }}</button></li>
      <li class="page-item"><button class="page-link" (click)="button(current)">{{ current }}</button></li>
      <li class="page-item"><button class="page-link" (click)="button(current+1)">{{ current + 1 }}</button></li>
      <li class="page-item">
        <button class="page-link" (click)="button(current+1)">Siguiente</button>
      </li>
    </ul>
</nav>