<style>
    .container {
        background-color: #ffffff51;
        padding: 40px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 20px; 
        border-bottom-right-radius: 20px;
        box-shadow: 10px 0px 80px rgba(0, 0, 0, 0.588); 
    }
</style>

<div class="container" *ngIf="this.isLogin()">
    <div class="row w-100">
        <div class="col-md-3"></div>
        <div class="col-md-6 ">
            <app-main-button [state]="state"></app-main-button>
        </div>
        <div class="col-md-3">
            <app-dropdown-reason></app-dropdown-reason>
        </div>
            <app-register-table [registers]="registers"></app-register-table>
    
        <div class="mt-1">
            <app-pagination ></app-pagination>
        </div>
    </div>
</div>