<table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Nombre de Usuario</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersData.slice((current_page-1)*10,current_page*10); let i = index">
        <td tooltip="Historial"  [delay]="400" placement="bottom" (click)="handleClick(user.email)">{{user.name + " " +user.surname}}</td>
        <td tooltip="Historial"  [delay]="400" placement="bottom" (click)="handleClick(user.email)">{{user.email}}</td>
        <td tooltip="Modificar"  [delay]="400" placement="bottom" (click)="modifyUser(user.username)">{{user.username}}</td>
      </tr>
    </tbody>
</table>
<div class="col-md-12 mt-3">
  <app-users-table-pagination (paginationEvent)="paginationEvent($event)"></app-users-table-pagination>
</div>