<div class="sidebar mt-4">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="btn btn-block btn-success" routerLink="/login">Panel de usuario</a>
      </li>
      <li class="nav-item mt-5">
        <a class="btn btn-block btn-primary"  routerLink="/admin/dashboard">Panel de control</a>
        <a class="btn btn-block btn-primary"  (click)="newUser()">Alta usuario</a>
        <a class="btn btn-block btn-primary"  [href]="'/admin/stats/'+AdminDni">Estadísticas</a>
        <a class="btn btn-block btn-primary mt-1"  routerLink="/admin/configuration">Configuracion</a>
      </li>
    </ul>
  </div>