<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Flypchaje</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <!-- Elementos alineados a la izquierda -->
            <li class="nav-item">
                <a class="nav-link" href="#">Acerca de</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Servicios</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <!-- Elementos alineados a la derecha -->
            <li class="nav-item">
                <a class="nav-link" href="#">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Registrarse</a>
            </li>
        </ul>
    </div>
</nav>