<style>
    .container {
        text-align: center;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sombreado {
        box-shadow: 0 0 20px rgba(0, 0, 1, 1);
    }

  .btn{
      box-shadow: 5px 5px 20px #0d0e2383; 
  }

</style>
<div>
    <div *ngIf="!checkState()">
        <button class="btn btn-primary btn-block" (click)="fichar()" (mouseover)="showShadow = true" (mouseout)="showShadow = false" [ngClass]="{'sombreado': showShadow}">Entrada</button>
    </div>
    <div *ngIf="checkState()">
        <button class="btn btn-primary btn-block" (click)="desfichar()" (mouseover)="showShadow = true" (mouseout)="showShadow = false" [ngClass]="{'sombreado': showShadow}">Salida</button>
    </div>
</div>
