<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    .navbar {
        background-color: #00000033;
        border-radius: 4px;
        box-shadow: 0px 0px 15px rgba(26, 26, 37, 0.142); 
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand btn-link" href="#">Flypchajes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <!-- Elementos alineados a la izquierda -->
            <li class="nav-item">
                <a class="btn btn-link" href="#" >Servicios</a>
            </li>            
            <li class="nav-item">
                <a class="btn btn-link" href="#" >Acerca de</a>
            </li>        
        </ul>
        <ul class="navbar-nav ml-auto">
            <!-- Elementos alineados a la derecha -->
            <li class="nav-item" >
                <a class="btn btn-primary mx-2" href="/login">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="btn btn-success" href="/signup">Registrarse</a>
            </li>
        </ul>
    </div>
</nav>